Colon in resource name leads to failure

You will receive the following error when viewing contents of a container in the databrowser, if one of the resources has a colon ":" in the name.

This is the error:

```
TypeError: Cannot read property 'uri' of null
  undefined
    TypeError: Cannot read property 'uri' of null  undefined
        at l (https://team.inrupt.net/mashlib.min.js:27:313373)  undefined
        at Array.filter (<anonymous>)  undefined
        at p (https://team.inrupt.net/mashlib.min.js:27:313921)  undefined
        at Object.render (https://team.inrupt.net/mashlib.min.js:27:314334)  undefined
        at _.propertyTable (https://team.inrupt.net/mashlib.min.js:21:35517)  undefined
        at u (https://team.inrupt.net/mashlib.min.js:21:42368)  undefined
        at e.p (https://team.inrupt.net/mashlib.min.js:21:43430)  undefined
        at e.fireCallbacks (https://team.inrupt.net/mashlib.min.js:15:31024)  undefined
        at e.value (https://team.inrupt.net/mashlib.min.js:33:108915)  undefined
        at t.value (https://team.inrupt.net/mashlib.min.js:33:103106)

```
An example resource name that would trigger this is "resource-na:me.html".

A colon is not a valid character in the path of a URI.  If the filename has a colon, then that must be escaped as %3a in the URI.

What exactly was the operator sequence which led to the error?


@NSeydoux was trying to create a Dokieli document and (I believe) included a : in the name. Justin had to manually rectify the issue on the server.

> A colon is not a valid character in the path of a URI. If the filename has a colon, then that must be escaped as %3a in the URI.

My reading of [RFC 3986 §3.3. Path](https://tools.ietf.org/html/rfc3986#section-3.3) says otherwise. Unescaped colons are not permitted in the first path segment of relative URIs, but colons in other path segments do not otherwise require percent-escaping.

I created a folder `colon:folder` and a resource `resource-na:me.html` without issues. 

Both file and folder could be retrieved. The resulting path was:
`/colon:folder/resource-na%3Ame.html`

So the colon in the html filename got escaped, while the folder was stored as-is. Yet no trouble retrieving any of them.

on the file-system level on NSS the path is `/colon:folder/resource-na:me.html`

@justinwb can you confirm my observations or provide steps to reproduce?